<hr>
<footer style="text-align: center; font-size: 0.9em; padding: 1em 0;">
  <p><strong>Romulus Public Safety Foundation</strong></p>
  <p>Serving and supporting the first responders of Romulus, Michigan.</p>
  <p>
    <a href="/docs/Donate/">Donate</a> |
    <a href="/docs/ContactUs/">Contact Us</a>
    <a href="https://facebook.com/RomPSF" target="_blank">📘 Facebook</a> |
    <a href="https://www.linkedin.com/company/romulus-public-safety-foundation/" target="_blank"> LinkedIn</a>
  </p>
  <p>© {{ site.time | date: '%Y' }} Romulus Public Safety Foundation (Romulus PSF). All rights reserved.</p>


</footer>
