<hr>
<footer style="text-align: center; font-size: 0.9em; padding: 1em 0;">
  <p><strong>Romulus Public Safety Foundation</strong></p>
  <p>Serving and supporting the first responders of Romulus, Michigan.</p>
  <p>
    <a href="/docs/Donate/">Donate</a> |
    <a href="/docs/ContactUs/">Contact Us</a>
    <a href="https://facebook.com/RomPSF" target="_blank">📘 Facebook</a> |
    <a href="https://www.linkedin.com/company/romulus-public-safety-foundation/" target="_blank"> LinkedIn</a>
  <p>
  <p>Proud members of:<p>
    <a href=https://swcrc.com/directory/romulus-public-safety-foundation/" target="_blank"> Southern Wayne County Regional Chamber</a>
    <p>
    <a href=https://docu.team/mtiodew/index.php?v=lp&store=150096/" target="_blank"> Greater Romulus Chamber of Commerce</a>
  </p>
<div style="display: flex; gap: 0.2rem; flex-wrap: wrap;">
  <a href="/docs/Volunteer/" style="background-color:#006400; color:white; padding:1rem 1.5rem; border-radius:8px; text-decoration:none;">Become a Volunteer</a>
  <a href="/docs/Signup/" style="background-color:#8B0000; color:white; padding:1rem 1.5rem; border-radius:8px; text-decoration:none;">Join Our Email List</a>
  <a href="/docs/Donate/" style="background-color:#FFA500; color:black; padding:1rem 1.5rem; border-radius:8px; text-decoration:none;">Donate Today</a>
</div>
  </p>
  <p>© {{ site.time | date: '%Y' }} Romulus Public Safety Foundation (Romulus PSF). All rights reserved.</p>


</footer>
<a
